<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}. {{ title }}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container page">
    <div class="row">
        <div class="col-md-6 col-print-6">
            <h1>{{ name }}<br/>{{ title }}</h1>
            <p>
                <time datetime="{{ buildinfo.date }}" class="text-muted">Last update: {{ updated }}</time>
            </p>
            <p>
            <!--    <span class="screen"><a href="{{ pdfFileName }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Download PDF version</a></span> -->

                <span class="screen"><a href={{ pdfLocation_EN }}><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Download PDF version (English)</a></span>
                <span class="print">The online version is available at <a href="{{ baseUrl }}" class="text-nowrap"><i
                    class="fa fa-github" aria-hidden="true"></i>{{ baseUrl }}</a></span>
                &nbsp;
                <span class="screen"><a href={{ pdfLocation_NL }}><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Download PDF versie (Nederlands)</a></span>
                <span class="print">The online version is available at <a href="{{ baseUrl }}" class="text-nowrap"><i
                    class="fa fa-github" aria-hidden="true"></i>{{ baseUrl }}</a></span>
            </p>
        </div>
        <div class="col-md-6 col-print-6">
            <dl class="row">
                {{#each facts}}
                <dt class="col-md-3">{{ @key }}</dt>
                <dd class="col-md-9">{{{ this }}}</dd>
                {{/each}}
            </dl>
        </div>
    </div>

    <h3 class="screen">Skills</h3>
    <div class="row mb-4">
        {{#each skills}}
        <div class="col-print-1 col-3 col-md-2 col-lg-1 text-right">
            <span class="strong small">{{ this.[0] }}</span>
        </div>
        <div class="col-print-1 col-3 col-md-2 col-lg-1">
            {{ this.[1] }}
        </div>
        {{/each}}
    </div>

    {{#if showintro }}
        {{ intro }}
    {{/if}}

    <h2>Education</h2>
    <p class="text-justify">
        {{ education.Title }}
        <span class="font-weight-light">{{ education.Date }}</span>
       <br>
       <span class="font-italic">{{ education.Location}}</span>
    </p>

    <h2>Professional Experience</h2>
    {{#each plays}}
    <div class="card mb-4">
        <div class="card-body">
            <h3 class="text-capitalize">{{ title }}</h3>
            <p>
                <a href="{{ link }}" class="text-capitalize">
                    {{ company }}
                </a>
                <span class="text-muted">
                    {{ written }}
                </span>
            </p>

            {{{contents}}}

            <div>
                {{#each badges }}
                <span class="badge badge-primary">{{ this }}</span>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}

    <h2>Hobby projects</h2>
    {{#each experience}}
    <div class="card mt-4">
        <div class="card-body">
            <div class="mb-2">
                <a href="{{ source }}" class="text-capitalize">{{ header }}</a>
                {{#if interactive}}
                <a href="{{ interactive_link }}" class="badge badge-success">{{ interactive_button }}</a>
                {{/if}}
            </div>
            {{{contents}}}
            <div>
                <a href="{{ source }}" class="badge badge-info">source</a>
                {{#each skills }}
                <span class="badge badge-primary">{{ this }}</span>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
</body>
</html>
